<tr>
  <td>
    <div id="route_name_#{ route.id }">
      <%= route.name %>
    </div>
    <%= render 'form', route: route, hidden: true %>
  </td>
  <td><%= link_to t('common.show'), [:admin, route], class: "text-info" %></td>
  <td><%= link_to t('common.edit'), edit_admin_route_path(route), class: ["text-success", "edit_route"], data: { route_id: route.id } %></td>
  <td><%= link_to t('common.destroy'), [:admin, route], method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" %></td>
</tr>
