<h1>Tutu.ru</h1>
<strong>
	<p><%= link_to 'Список станций', railway_stations_path %></p>
	<p><%= link_to 'Список поездов', trains_path %></p>
	<p><%= link_to 'Список маршрутов', routes_path %></p>
	<p><%= link_to 'Список вагонов', carriages_path %></p>
	<p><%= link_to 'Поиск билетов', search_path %></p>
</strong>