<tr>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.passenger_name %></td>
  <td>
    <%= link_to t('common.show'), ticket %>
    <%= link_to t('common.destroy'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
