<%= form_for(@carriage) do |f| %>
    <%= render 'common/errors', resource: @carriage %>

    <div class="field">
      <%= f.label :type, "Тип" %>
      <%= f.select :type, ["Плацкарт","Купе"] %>
    </div>

    <div class="filed">
      <%= f.label :top_seats, "Количество верхних мест" %>
      <%= f.text_field :top_seats %>
    </div>

    <div class="filed">
      <%= f.label :low_seats, "Количество нижних мест" %>
      <%= f.text_field :low_seats %>
    </div>

    <div class="field">
      <%= f.label :train, "Текущий поезд" %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>


    <div class="actions">
      <%= f.submit "#{ @carriage.new_record? ? 'Создать' : 'Изменить ' }"%>
    </div>
<% end %>
