<div class="row">
<div class="col-md-8 col-md-offset-1">
<%= form_for [:admin, @train, @carriage] do |f| %>
    <%= render 'common/errors', resource: @carriage %>

    <div class="field">
      <%= f.label :type, t('.type') %>
      <%= f.select :type, ["EconomyCarriage","LuxCarriage", "CoupeCarriage", "SittingCarriage"] , {}, class: "form-control" %>
    </div>

    <div class="field form-group" id="field_top_seats">
      <%= f.label :top_seats, "Количество верхних мест" %>
      <%= f.text_field :top_seats, class: "form-control" %>
    </div>

    <div class="filed form-group" id="field_bottom_seats">
      <%= f.label :bottom_seats, "Количество нижних мест" %>
      <%= f.text_field :bottom_seats, class: "form-control" %>
    </div>

    <div class="filed form-group" id="field_side_top_seats">
      <%= f.label :side_top_seats, "Количество нижних боковых мест" %>
      <%= f.text_field :side_top_seats, class: "form-control" %>
    </div>

    <div class="filed form-group" id="field_side_bottom_seats">
      <%= f.label :side_bottom_seats, "Количество верхних боковых мест" %>
      <%= f.text_field :side_bottom_seats, class: "form-control" %>
    </div>

    <div class="field form-group hidden-field" id="field_sitting_seats">
      <%= f.label :sitting_seats, "Количество сидячих мест" %>
      <%= f.text_field :sitting_seats, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :train_id, t('.train') %>
      <%= f.collection_select :train_id, Train.all, :id, :number, {}, class: "form-control" %>
    </div>

  <div class="actions">
    <%= f.submit t('.submit', action: carriage.new_record? ? t('common.create') : t('common.edit')), class: "btn btn-success" %>
  </div>
<% end %>
</div>
</div>
