<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
  <h1>Carriage</h1>
  </div>
  <div class="panel-body">
    <div class="col-md-10">
      <p>
        <strong>Type:</strong>
        <%= @carriage.type %>
      </p>

      <%= render "#{@carriage.type.underscore}", carriage: @carriage %>

      <p>
        <strong>Train:</strong>
        <%= @carriage.train.number %>
      </p>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li>
          <%= link_to t('common.edit'), edit_admin_carriage_path(@carriage), class: "text-success" %>
        </li>
        <li>
          <%= link_to t('common.back'), [:admin, @carriage.train] %>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
