<%= form_for @search, url: { action: 'show' } do |f| %>
<div class="col-md-4">
  <div class="field">
    <%= f.label :start_station_id, t('.start_station') %>
    <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title, {}, class: "form-control" %>
  </div>
</div>
<div class="col-md-4">
  <div class="field">
    <%= f.label :end_station_id, t('.end_station') %>
    <%= f.collection_select :end_station_id, RailwayStation.all, :id, :title, {}, class: "form-control" %>
  </div>
</div>
<div class="col-md-4">
  <div class="actions actions-find">
    <%= f.submit t('.submit'), class: "btn btn-primary form-control" %>
  </div>
</div>
<% end %>
