<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>


<% if @route.trains.empty? %>
  <p>Поездов на маршруте нет</p>
<% else %>
  <p> Поезда на маршруте:</p>
    <table>
      <thead>
      </thead>
    </table>

      <ul>
      <% @route.trains.each do |train| %>
          <li><%= train.number %></li>
      <% end %>
      </ul>
<% end %>

<p>
  <strong>Stations:</strong>
  <% if @route.railway_stations.empty? %>
    Empty
  <% else %>
    <table>
      <thead>
      <tr>
       <td width="100px">Name</td>
       <td>Position</td>
      </tr>
      </thead>
      <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title%></td>
          <td>
            <%= form_tag update_position_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id%>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    <table>
    
<% end %>
</p>











<% if @route.railway_stations.empty? %>
  <p>Поезд следует без остановок</p>
<% else %>
  <p> В маршруте есть следующие станции:</p>
    <table>
      <thead>
      </thead>
    </table>

      <ul>
      <% @route.railway_stations.each do |route| %>
          <li><%= route.title %></li>
      <% end %>
      </ul>
<% end %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
