<div class="row">
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Train</h1>
  </div>
  <div class="panel-body">
    <div class="col-md-10">
  <p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Current Station:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Station is not assigned
  <% end %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Route is not assigned
  <% end %>
</p>

<p>
  <strong>Carriages:</strong>
    <% if @train.carriages.empty? %>
      train has no carriages
    <% else %>
      <%= render 'carriages', carriages: @train.carriages %>
    <% end %>
    <br>
  <%= link_to t('admin.carriages.new.title'), new_admin_train_carriage_path(@train), class: "btn btn-success" %>
</p>
    </div>
    <div class="col-md-2">
      <div class="col-md-2">
      <ul class="list-unstyled">
        <li>
          <%= link_to t('common.edit'), edit_admin_train_path(@train), class: "text-success" %>
        </li>
        <li>
          <%= link_to t('common.back'), admin_trains_path %>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
