<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <p>Hello, <%= current_user.name %>
    <%= link_to 'Exit', destroy_user_session_path, method: :delete %>
    <p>Аккаунт: <%= current_user.email %></p>
  <% else %>
    <%= link_to 'Enter', new_user_session_path %>
  <% end %>

  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
